body {
    text-align: center;
    background-color: #333333;
    color: white;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    word-spacing: 30px;
    position: relative;
    left: 5px;
    display: inline-block;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: rgb(165, 216, 25);
}

a:hover {
    color:rgb(194, 233, 89);
}


.boardContainer {
    margin: auto;
    margin-top: 10vh;
    width: 308px;
    height: 308px;

    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;

}

.s00 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.s01 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.s02 {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.s10 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.s11 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.s12 {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.s20 {
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.s21 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.s22 {
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.highlightX {
    background-color: rgb(165, 216, 25);
}
.highlightO {
    background-color: rgb(216, 47, 25);
}