body {
    text-align: center;
    background-color: #333333;
    color: white;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    position: relative;
    left: 5px;
    display: inline-block;
    margin-top: 50px;
}
h2 {
    font-size: 40px;
    margin-bottom: 0;
}
h3 {
    margin-bottom: 5px;
}

h4 {
    margin-top: 0;
    margin-bottom:0;
}

.hardColor {
    color: rgb(212, 93, 166);
}

.easyColor {
    color: rgb(212, 200, 93);
}

#tryAgain {
    color: rgb(165, 216, 25);
    cursor: pointer;
}

#tryAgain:hover {
    color:rgb(194, 233, 89);
}

#startAI {
    color: rgb(165, 216, 25);
    cursor: pointer;
}

#startAI:hover {
    color:rgb(194, 233, 89);
}


.boardContainer {
    margin: auto;
    margin-top: 10vh;
    width: 308px;
    height: 308px;

    display: flex;
    flex-wrap: wrap;
}

.playerContainer {
    display: flex;
    justify-content: center;
    
}
.player {
    flex-basis: 40%;
}
.changeOpp1 {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
}
.changeOpp1:hover {
    color: rgb(165, 216, 25);
}

.changeOpp2 {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
}
.changeOpp2:hover {
    color: rgb(165, 216, 25);
}

.square {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.square:hover {
    background-color: #3d3d3d;
}

.actionAI1 {
    background-color:rgb(212, 200, 93);
}
.actionAI2 {
    background-color:rgb(212, 93, 166);
}
.fade {
    background-color:#333333;
    transition: background-color 0.3s ease-in;
}

.s00 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.s01 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.s02 {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.s10 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.s11 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.s12 {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.s20 {
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.s21 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.s22 {
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.highlightX {
    background-color: rgb(165, 216, 25);
}
.highlightO {
    background-color: rgb(216, 47, 25);
}
.highlightX:hover {
    background-color: rgb(165, 216, 25);
}
.highlightO:hover {
    background-color: rgb(216, 47, 25);
}